/*__________Global Variables__________*/

:root {
  --blue: #368BFF;
  --lightblue: #36C1FF;
  --lightblue-hover: #63CFFF;
  --green: #47e06d;
  --purple: #9D86D5;
  --paleblue: #f4f8ff;
  --white: #ffffff;
  --black: #20292C;

  --light: 300;
  --regular: 500;
  --bold: 900;

  --opensans: 'Open Sans';
  --quicksand: 'Quicksand';
  --nunito: 'Nunito Sans';
}


/*__________Main Page__________*/

body{
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--black);
}

@media (max-width: 1000px) {
  body{
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  body{
    font-size: 12px;
  }
}

.wrapper{
  height: 500px;
  width: 100%;
  padding: 0px;;
}



h1{
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: var(--bold);
}

h2{
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

h3{
  font-size: 1.9em;
}

h4{
  font-size: 1.2em;
}

p{
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
}

.button, button{
  background-color: var(--lightblue);
  color: var(--white);
  border-style: none;
  font-size: 1.2em;
  font-family: var(--nunito);
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: .5em;
  padding-left: 3em;
  padding-right: 3em;
  min-width: 120px;
  margin: .5em;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  transition: .2s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,.07);
  text-decoration: none;
}

button:hover, .button:hover{
  background-color: var(--lightblue-hover);
  box-shadow: 0 15px 35px rgba(50,50,93,.1);
}

button:active, .button:active{
  background-color: var(--lightblue);
}

button:focus, .button:focus{
  outline: none;
}

@media (max-width: 800px) {
  button{
    max-width: 60px;
    width: 50%;
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #1D7DFF;
}

.nav .logo{
  text-decoration: none;
  font-size: 2em;
  color: white;
  font-family: var(--quicksand);
}

.inverted{
  text-decoration: none;
  font-size: 1.2em;
  color: var(--lightblue);
  font-family: var(--nunito);
  font-weight: 700;
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--white);
}

.inverted:hover{
  background-color: #fcfcfc;
}

.inverted:active{
  color: var(--blue);
}

@media (max-width: 500px) {
  .inverted{
    width: 40%;
    min-width: 180px;
  }
}

.hero{
  min-height: 40vh;
  display: flex;
  justify-content: center;
  padding: 10%;
  background-color: var(--blue);
  /*background-image: url("http://i.giphy.com/xTiTnvNBcj0lN3D5II.gif");*/
  /*background-size: cover;*/
}

.section{
  min-height: 40vh;
  display: flex;
  justify-content: center;
  padding: 10%;
}

@media (max-width: 1000px) {
  .section{
    padding: none;
  }
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .container{
    flex-direction: column;
    margin: 0;
  }
}

.how-to-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

@media (max-width: 1000px) {
  .column{
    width: 80%;
    padding: 0;
  }
}

.column-centered{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.column-centered img{
    width: 95%;
    max-width: 400px;
}

@media (max-width: 1000px) {
  .column-centered{
    width: 95%;
    padding: 0;
  }

  .column-centered img{
    width: 95%;
  }
}

.blue-link{
  color: var(--lightblue);
  font-size: 1.7em;
  font-family: var(--opensans);
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease;
}

.blue-link:hover{
  color: var(--lightblue-hover);
  padding-left: 10px;
}

.email-section{
  padding: 5%;
  display: flex;email-b
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--purple);
  color: var(--white);
}

.email-section button{
  border-radius: 4px;
  position: relative;
  height: 100%;
  margin: 0;
  width: 200px;
  min-width: 100px;
  background-color: var(--black);
}

.email-section div{
  padding-bottom: 1%;
}

@media (max-width: 800px) {
  .email-section button{
    min-width: 80%;
    height: 50px;
  }

  .email-section input{
    width: 80%;
    height: 50px;
  }
}

.footer{
  height: 150px;
}

#graphic{
  width: 70%;
  max-width: 500px;
}

#big-number{
  color: var(--lightblue);
  margin-right: 5%;
}

#hang-left{
  position: absolute;
  left: -5%;
}

#white-text{
  color: var(--white);
}

#blue-bg{
  background-color: var(--blue);
}

#white-bg{
  background-color: var(--white);
}

#lightblue-bg{
  background-color: var(--lightblue);
}

#paleblue-bg{
  background-color: var(--paleblue);
}

@media (max-width: 800px) {
  #macbook{
    display: none;
  }
}



/*__________App Container__________*/

#app-section{
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
  background-color: var(--paleblue);
}

@media (max-width: 1000px) {
  #app-section{
    display: none;
  }
}

.app-container{
  width: 80%;
  background-color: var(--white);
  display: flex;
  padding: 0;
  margin-bottom: 2%;
  height: auto;
  -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  -moz-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.app{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}



/*__________Modal__________*/

#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  position: relative;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--lightblue);
  font-family: var(--opensans);
  text-align: center;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.modal-body {
  padding: 20px 10px;
  text-align: center;
}

.modal-body input, .email-section input{
  font-size: 1.5em;
  font-family: var(--opensans);
  font-weight: 700;
  style: none;
  padding: 0;
  padding-left: 5px;
  min-width: 100px;
  box-shadow: 0 5px 15px rgba(0,0,0,.07);
  border-style: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.modal-body div, .email-section div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.modal-body button{
  border-radius: 4px;
  position: relative;
  height: 100%;
  margin: 0;
  min-width: 180px;
}

.modal-header p{
  font-size: 1.2em;
  font-weight: 500;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--paleblue);
    color: #d3d3d3;
    font-family: var(--quicksand);
    font-weight: var(--light);
    font-size: .8em;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}



/*__________Payment form__________*/

#payment-form{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

#payment-form input{
  font-size: 1.2em;
  font-family: var(--opensans);
  font-weight: 400;
  style: none;
  padding: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 5px;
  min-width: 50px;
  border-style: none;
  border: 1px solid #cccccc;
  box-shadow: 0 5px 15px rgba(0,0,0,.07);
  border-radius: 4px;
}

#payment-form select{
  height: 2.5em;
  background-color: white;
  border: 1px solid #cccccc;
  font-size: 1.2em;
}

.form-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .form-group{
    flex-wrap: wrap;
  }
}

#pay-now-button{
  background-color: var(--green);
  border-radius: 4px;
  width: 100%;
  min-width: 100px;
  margin: 0 auto;
}

#payment-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
